.interactiveHarp {
    width: 640px;
    height: 480px;
    position: relative;
    border : 1px solid black;
    margin : 3px;
    padding: 3px;
}
.interactiveHarp .legend {
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.interactiveHarp sup {
    font-size: 80%;
    vertical-align:super;
}
.interactiveHarp sub {
    font-size: 80%;
    vertical-align:sub;
}
.interactiveHarp .stage {
    position: absolute;
    left: 3px;
    top: 3px;
    width:88%;
    height:99%;
}
.interactiveHarp .stringaling {
    position: absolute;
    width: 3px;
    top: 15px;
}
.interactiveHarp .noteVal {
    position: absolute;
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    padding: 2px;
}
.interactiveHarp .baseOctave {
    position: absolute;
    top: 50px;
    left: 19px;
    width: 246px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
}
.interactiveHarp .extraFns {
    position: absolute;
    right: 0px;
    width: 19%;
}